// Specific CSS for your home-page
.home {
  padding-top: 90px;
}

.new-cocktail-btn {
  background-color: #FFFCF9;
  border-radius: 20px;
  text-decoration: none;
  color: #EC9DED;
  padding: 12px 10px;
  margin: 0 9px;
}

.new-cocktail-btn:hover {
  background-color: #EC9DED;
  color: white;
}
