.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #EF626C;
  padding: 20px 0;
}

.navbar-lewagon h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
  margin: 0 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
